<table>
    <tr>
        <td><a style="color: aqua;" href="/Home">Home</a></td>
        <td><a style="color: aqua;" href="/cost">Cost</a></td>
        <td><a style="color: aqua;" href="/5starrating">5 Star Rating</a></td>
        <td><a style="color: aqua;" href="/schedule">Schedule</a></td>
        <td><a style="color: aqua;" href="/activities">Activities</a></td>
        <td><a style="color: aqua;" href="/Food Rating">Food Rating</a></td>
        <td><a style="color: aqua;" href="/Culture">Culture</a></td>
        <td><a style="color: aqua;" href="/Location">Location!</a></td>
        <td><a style="color: aqua;" href="/gallery">Gallery</a></td>
    </tr>
</table>
