<table>
    <tr>
        <td><a style="color: rgb(1, 100, 37);" href="/Home">Home</a></td>
        <td><a style="color: rgb(1, 100, 37);" href="/cost">Cost</a></td>
        <td><a style="color: rgb(1, 100, 37);" href="/5starrating">5 Star Rating</a></td>
        <td><a style="color: rgb(1, 100, 37);" href="/schedule">Schedule</a></td>
        <td><a style="color: rgb(1, 100, 37);" href="/activities">Activities</a></td>
        <td><a style="color: rgb(1, 100, 37);" href="/Food Rating">Food Rating</a></td>
        <td><a style="color: rgb(1, 100, 37);" href="/Culture">Culture</a></td>
        <td><a style="color: rgb(1, 100, 37);" href="/Location">Edited Location!!!!!!!</a></td>
        <td><a style="color: rgb(1, 100, 37);" href="/gallery">Gallery</a></td>
    </tr>
</table>
