  $high-emph: #e40587; // text on the very top, submenu pages text color
  $med-emph: #f4488a; // description of post
  $low-emph: #f5879b; // dates on posts
  $dark-grey : #fcd1de; // background
  $overlay : #efe7de; // table background
  $overlay-light: mix($dark-grey, white, 86%);
  